table {
  border-collapse: collapse;
  width: 20%;
}

td {
  border: 1px solid #dddddd;
	width: 1px;
  padding: 3px 3px;
}

.square {
  height: 20px;
  width: 20px;
}

.square.black {
  background-color: black;
}

.square.blue {
  background-color: blue;
}

.square.fuschia {
  background-color: #ff00ff;
}

.square.green {
  background-color: #008000;
}

.square.red {
  background-color: red;
}

.square.yellow {
  background-color: yellow;
}

.square.cyan {
  background-color: #00FFFF;
}

.square.lightPink {
  background-color: #FFB6C1;
}

.square.orange {
  background-color: #FFA500;
}

.square.silver {
  background-color: #C0C0C0;
}